.flex-box2 {
    display: flex;
    justify-content: space-between;
}

.menu-directory {
    width: 20% ;
    border: 1px solid rgb(167, 167, 167);
    border-bottom: none;
    /* padding: 10px; */
}

.list-file {
    width: 80%;
    border: 1px solid rgb(167, 167, 167);
    border-bottom: none;
    padding: 5px;
}

.hide-menu {
    display: none;
}
