.flex-box2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.menu-project {
  width: 20%;
  border: 1px solid rgb(167, 167, 167);
  border-bottom: none;
}

.menu-project-hide {
  animation-name: rightToLeft;
  animation-duration: 4.5s;
  display: none;
}

.list-project {
  margin-left: 5px;
}

.top-menu-project {
  padding: 10px;
  font-size: 20px;
  color: #337ab7;
  border-bottom: 1px solid rgb(167, 167, 167);
  display: flex;
  justify-content: space-between;
}

.top-menu-right {
  display: flex;
  justify-content: space-between;
}

.div-form-search {
  margin-bottom: 0;
  margin-right: 10px;
  border-bottom: 1px solid rgb(167, 167, 167);
}

.top-menu-right input {
  font-size: 15px;
  border: none;
  vertical-align: super;
}

.top-menu-right input:focus {
  outline: 0;
}

.icon-search {
  margin: 5px 5px;
}
 
.icon-style {
  margin-right: 30px;
}

.list-file-full {
  width: 100%;
  border: 1px solid rgb(167, 167, 167);
  border-bottom: none;
  padding: 5px;
}

.list-file {
  width: 80%;
  border: 1px solid rgb(167, 167, 167);
  border-bottom: none;
  padding: 5px;
}

.hide-menu {
  display: none;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: black;
}

@keyframes rightToLeft {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(-160px);
  }
}

.list-result-search {
  position: relative;
  z-index: 999;
  right: 0;
  top: -8px;
}

.layer-list {
  position: absolute;
  right: 35px;
  background-color: white;
  width: 20%;
  border-radius: 10px;
  border: 1px solid rgb(199, 199, 199);
}

.title-result-search{
  border-bottom: 2px solid #337ab7;
  padding: 10px;
}
.result-search {
  padding: 10px;
  overflow-y: scroll;
  max-height: 250px;
}

.result-search p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.display-result-search-none {
  display: none;
}

.display-result-search-block {
  display: block;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #337ab7; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  margin: 10px auto;
}